body {
  margin: 0;
  padding: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-zoho-puvi: "Zoho Puvi";
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-23xl: 42px;
  --font-size-15xl: 34px;
  --font-size-6xl: 25px;
  --font-size-lg: 18px;

  /* Colors */
  --secondary-color: #fff;
  --dark-blue-design: #011632;
  --body-text: #3c4959;
  --light-blue-design: #e6f6fe;
  --mid-blue-design: #1376f8;
  --color-dodgerblue: #2e8fff;
  --sky-blue-design: #25b4f8;

  /* Gaps */
  --gap-48xl: 67px;
  --gap-14xl: 33px;
  --gap-mid: 17px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-mini: 15px;
  --gap-5xs: 8px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-4xl: 23px;
  --gap-base: 16px;
  --gap-2xl-1: 21.1px;
  --gap-lg-2: 18.2px;

  /* Paddings */
  --padding-20xl: 39px;
  --padding-6xl: 25px;
  --padding-59xl: 78px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-4xs: 9px;
  --padding-xl: 20px;
  --padding-11xl: 30px;

  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-38xl: 57px;
  --padding-9xl: 28px;
  --padding-mini: 15px;
  --padding-10xl: 29px;
  --padding-12xs: 1px;
  --padding-15xl: 34px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-17xl: 36px;
  --padding-lgi-4: 19.4px;
  --padding-16xl: 35px;
  --padding-79xl: 98px;
  --padding-11xs-1: 1.1px;
  --padding-69xl: 88px;

  /* Border radiuses */
  --br-3xs: 10px;
}
